   body {
      background: #f4f5f7;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .header-nav a.active,
    .header-nav a:hover {
      background-color: #ff0000;
    }
    .stat-box {
      background-color: #eeee;
      box-shadow: 0 2px 5px rgb(0 0 0 / 0.1);
      border-radius: 0.3rem;
      transition: transform 0.2s ease;
    }
    .stat-box:hover {
      transform: translateY(-4px);
      box-shadow: 0 8px 14px rgb(0 0 0 / 0.15);
    }
    footer {
      background-color: #ff0000;
      color: #ffff;
      font-size: 0.85rem;
      line-height: 1.3;
    }
    footer a {
      color: #ffff;
      font-weight: 600;
    }
    footer a:hover {
      color: #eaeaea;
    }


    .footer-logo img, .footer-mascots img {
      width: 50px;
      height: auto;
      object-fit: contain;
      margin-left: 0.75rem;
      transition: transform 0.3s ease;
      cursor: default;
    }
    .footer-logo img:hover, .footer-mascots img:hover {
      transform: scale(1.2);
    }